/* Base Styles */

* {
   box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    color: white;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #111;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
              #111 url(https://images.alphacoders.com/876/876589.jpg) no-repeat center fixed;
}

@font-face {
    font-family: 'GetSchwifty';
    src: local('GetSchwifty'), url(./fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Title';
    src: local('Title'), url(./fonts/Frank_Knows.ttf) format('truetype');
  }


/* Heading fa67ce, 7ffa67, b9c927*/

.heading {
    font-family: 'Title';
    font-size: 400%;
    line-height: 1.0;
    color: #27c2c7;	
    text-shadow: -0.05em -0.05em 0.5em #c93920e8,
                 0.05em 0.05em 0.5em #7ffa67,
                 0.02em 0.07em 0.7em #b9c927;
    padding-bottom: 2%;
    }

h1 {
    margin: 3.5% 0%;
    padding: 5% 0%;
    display: inline;
}

.heading-sub {
    font-family: 'Title';
    font-size: 300%;
    color: #27c2c7;	
    text-shadow: -0.05em -0.05em 0.5em #c93920e8,
                 0.05em 0.05em 0.5em #fa67fa,
                 0.02em 0.07em 0.7em #3727c9;
}

.heading-sub {
    font-family: 'Title';
    font-size: 300%;
    color: #27c2c7;	
    text-shadow: -0.05em -0.05em 0.5em #c93920e8,
                 0.05em 0.05em 0.5em #fa67fa,
                 0.02em 0.07em 0.7em #3727c9;
}

.heading-sub span {
    text-shadow: -0.05em -0.05em 0.5em #c93920e8,
    0.05em 0.05em 0.5em #7ffa67,
    0.02em 0.07em 0.7em #b9c927;
    font-size: 50%;
    margin: 0 -3px;
    vertical-align: middle;
    color: #27c2c7;	
}

h1:hover {
    text-shadow: -0.05em -0.05em 0.5em #c93920e8,
                 0.05em 0.05em 0.5em #fa67fa,
                 0.02em 0.07em 0.7em #3727c9;
}

.heading span {
    font-size: 50%;
    margin: 0 -3px;
    vertical-align: middle;
}

/* Search */


.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-main {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px
}

.search-filters {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 0% 2% 2% 5% 0%;
    flex-wrap: nowrap
}

.search-filters .filter {
    display: flex;
    justify-content: space-between;
    padding: 4%
}

.search-filters h4 {
    font-size: large;
    margin: 0;
}

.search-filters div {
    padding: 2px;
}

.search-filters div label{
    padding: 2px;
}

.filter-inputs {
    width: 100%;
    margin-left: 3px
}

.search-loader {
	width: 50px;
	height: 50px;
	border: 4px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	margin: 0 auto;
	animation: spin 500ms linear infinite;
}


.search-input {
    font-size: 90%;
    max-width: 80%;
    width: 280px;
    height: 35px;
    border: none;
    margin: 10px 0 30px;
    text-align: center;
    box-shadow: -0.03em 0.02em 1.5em 0.08em #3727c9,
    -0.01em 0.02em 0.5em 0.02em #fa67bd,
    -0.04em -0.03em 1em 0.4em #c93920e8;
    background-color: black;
    color: #27c2c7;    
    font-family: 'getSchwifty'
}

.search-input:focus {
    outline: none;
    background-color: black;
    color: #27c2c7;
}

.search-input:hover {
    outline: none;
    background-color: #6bd9dd36;
    box-shadow: -0.03em -0.05em 1.5em 0.12em rgba(86, 175, 14, 0.705),
    0.03em 0.02em 0.5em 0.05em rgba(17, 129, 36, 0.3),
    -0.01em -0.02em 1em 0.08em rgba(197, 46, 26, 0.726);
}


.search-output {
    max-width: 750px;
    margin: 0 auto 20px;
    /*box-shadow: -0.03em 0.05em 2em 1em rgba(70, 247, 47, 0.3),
                0.03em -0.02em 1.2em 0.7em rgba(17, 129, 36, 0.3),
                -0.01em 0.02em 0.9em 0.03em rgba(197, 46, 26, 0.39);*/
}

/* Cards */
/*
box-shadow: -0.03em 0.05em 1.5em 0.5em rgba(70, 247, 47, 0.3),
                0.03em -0.02em 1em 0.3em rgba(17, 129, 36, 0.3),
                -0.01em 0.02em 0.5em 0.02em rgba(197, 46, 26, 0.651);
*/

.detailsLink {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: x-large;
    font-weight: 400;
}

.card-details {
    border-bottom: 2px solid #151515;
}

.card-summary {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    padding: 20px;
    background-color: #222;
    cursor: pointer;
}

.card-container {
    display: flex;
    line-height: 1.2;
    padding: 25px;
    background-color: #333;
    border-top: 2px solid #151515;
}

.card-info {
    flex: 1;
    margin-right: 25px;
}

.card-info-item-summary {
    font-size: 25px;
    font-weight: 400;
    color: #00e1ff;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-info-item-data {
    font-size: 22px;
    margin-bottom: 10px;
}

.card-image-container {
    flex: 1;
    display: flex;
}

.card-image {
    max-width: 100%;
    margin: auto;
    border: 5px solid #fcfcfc;
    border-radius: 20px;
}

.no-results {
    font-size: 130%;
    font-family: 'Yeon Sung';
};


/* Page Navigation */

.page-btn {
    display: inline-block;
    font: inherit;
    font-size: 22px;
    font-weight: 600;
    background: none;
    border: none;
    color: inherit;
    padding: 10px 20px;
    margin: 10px;
	cursor: pointer;
    background-color: #222;
    box-shadow: 0 0 0 3px #333;
}

/* Media Queries */

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
    }
    
    .card-info {
        order: 1;
        margin-top: 25px;
        margin-right: 0;
    }

    .card-image-container {
        display: block;
    }
}

/* Animations */

@keyframes spin {
    to {
        transform: rotate(1turn);
        color: rgb(71, 196, 144)
    }
}

